#logo{
    width: 40px;
    height: 25px;
}
#Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#SearchBar{
    width: 100%;
    border: 5% solid black;
    border-radius: 25px;
    height: 25px;
    padding-left: 20px;
}
#form1{
    width: 50%;
    height: 100%;
}
#home{
    background-color: white;
    color: black;
    border-radius: 25px;
    height: 30px;
}
#latestjob{
    height: 500px;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#heading{
    background-color: #edeeed;
    height: 10%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

