#logo{
    width: 40px;
    height: 25px;
}
#Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#SearchBar{
    width: 100%;
    border: 5% solid black;
    border-radius: 25px;
    height: 25px;
    padding-left: 20px;
}
#form1{
    width: 50%;
    height: 100%;
}
#home{
    background-color: white;
    color: black;
    border-radius: 25px;
    height: 25px;
}

